/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * #IMAGG - Default Stylesheet                         *
 * @author manuelmsni <manuelmartinsantamaria.com>     *
 * version 1.0 || https://github.com/manuelmsni/IMAGG  *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.hidden{
    display: none !important;
}

.triggerIMAGG{
    cursor: pointer;
}

#DivIMAGG{
    top: 0;
    position: fixed;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#BodyIMAGG{
    margin: auto;
    padding-top: 0;
    top: 0;
    width: 1000px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
}

#ExitIMAGG{
    font-family: cursive;
}

#ExitIMAGG:hover{
    cursor: pointer;
    color: rgb(94, 94, 94);
    text-shadow: #dadada 1px 2px;
}

#BodyIMAGG>p {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 20px;
}

#IMAGG {
    width: 100%;
}

#TitleIMAGG {
    border-top: 1px solid rgb(210, 212, 212);
    padding-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-family: monospace;
    font-size: 30px;
    text-align: left;
}

#CaptionIMAGG {
    font-family: sans-serif;
    padding-bottom: 2rem;
    text-align: left;
}

#CaptionIMAGG p{
    text-align: inherit;
    font-size: 20px;
    line-height: 20px;
}
